@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Asap:400,700&display=swap');
body {
  font-family: "Lexend Deca";
  background-color: rgb(36, 36, 36);
}

p, .asap {
  font-family: "Asap";
}

.logo {
  width: 80px;
}

.wrapper {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%
  }
  50% {
    background-position: 100% 19%
  }
  100% {
    background-position: 0% 82%
  }
}

@media screen and (max-width: 560px) {
  .hey {
    height: 30px;
  }
}

@media screen and (max-width: 769px) {
  .hey {
    height: 40px;
  }
}